hardware/mini-receiver/.DS_Store
hardware/mini-receiver/gerbers/.DS_Store
hardware/mini-receiver/gerbers/RF-BM-BG22C3/.DS_Store
hardware/mini-receiver/KiCad/.DS_Store
hardware/mini-receiver/KiCad/RF-BM-BG22C3/.DS_Store
